<configuration debug="false">

    <property name="defaultPattern"
              value="%d{HH:mm:ss.SSS} session_id=${session.id} %-5level %logger{36} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/log.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>log.%i.zip</fileNamePattern>
            <minIndex>0</minIndex>
            <maxIndex>3</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.jscisco.lom" level="INFO" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.hexworks" level="WARN" additivity="true">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>